{% extends 'posts/base.html' %}

{% block body %}

    <div class="container pb-3 pt-3">

        <div class="card mb-3" style="width: 48rem;">
            <img src="{{ post.image.url }}" alt=""
                 style="width:192px;height:108px"
                 class="card-img-top">
            <div class="card-body">

                <h5 class="card-title">{{ post.title }}</h5>
                <small>{{ post.date }}</small>
                <p class="card-text">{{ post.content }}</p>
                <a href="{% url 'index' %}" class="btn btn-primary float-right">
                    Go Back
                </a>
                <a href="{% url 'delete' post.id %}"
                   class="btn btn-danger float-left"
                   onclick="return confirm('are you sure you want to delete?')">
                    Delete
                </a>

                 <a href="{% url 'update' post.id %}"
                   class="btn btn-warning float-left ml-3">
                    Update
                </a>

            </div>
        </div>
    </div>

{% endblock %}